# trainer config
NUM_EPOCHS=100
SAMPLE_SIZE=1000000
DATA_PATH=/home/ubuntu/training/data
DATA_FORMAT=parquet

# S3 config - bucket name will be output by terraform as s3_bucket_name
S3_BUCKET=chirp-training-us-east-1
S3_PREFIX=training-results
AWS_REGION=us-east-1

# parallelization workers
MAX_WORKERS=8

# Alpaca Bullish ENV variables
ALPACA_BULLISH_API_KEY=EXAMPLE_API_KEY
ALPACA_BULLISH_API_KEY_SECRET=EXAMPLE_API_KEY_SECRET

# Alpaca Balanced ENV variables
ALPACA_ENSEMBLE_API_KEY=EXAMPLE_API_KEY
ALPACA_ENSEMBLE_API_KEY_SECRET=EXAMPLE_API_KEY_SECRET

# Alpaca Bearish ENV variables
ALPACA_BEARISH_API_KEY=EXAMPLE_API_KEY
ALPACA_BEARISH_API_KEY_SECRET=EXAMPLE_API_KEY_SECRET