# Required
key_name         = "ML_Infra"

# Recommended
region        = "us-east-1"
instance_type = "g5.2xlarge"
# aws_profile = "your-profile"

# Storage (GiB)
root_volume_size = 200
data_volume_size = 200
